body {
    position: relative;

    .header-container{
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;


        .wrapper {
            border: yellow 2px solid;

            .profileImg {
                z-index: -1;
            }

            button {
                z-index: 0;
                border-radius: 50%;
                background: transparent;
                border: none !important;
                width: 200px;
                height: 200px;
                margin: 1px;
                position: absolute;
                top: 10%;
                left: 41.5%;
            }
        }
    }

    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        height: 100vh;
        width: 100vw;
        padding: 40px;
        background-color: rgba(0, 0, 0, 0.75);
        z-index: 8000;


        form {
            display: flex;
            flex-direction: column;
            position: relative;
            height: 500px;
            width: 650px;
            margin: 0 auto;
            border: 1px solid black;
            background-color: white;
            border-radius: 50px;
            padding: 50px;
            z-index: 9999;

            h1 {
                align-self: center;
                color:white
            }

            #inputs {
                .form-element {
                    margin: 10px 0;

                    input {
                        width: 100%;
                        height: 50px;
                        border-radius: 10px;
                        margin: 10px 0;
                        padding: 10px;
                        font-size: 1.2rem;
                    }

                    textarea {
                        border-style:solid;
                        width: 100%;
                        height: 150px;
                        border-radius: 10px;
                        margin: 0;
                        padding: 0;
                        font-size: 1.2rem;
                        &:focus{ border: 1px solid black; }
                    }
                }
        
            }

            button {
                align-self: center;
                height: 50px;
                width: 200px;
                font-size: 1.5rem;
                border-radius: 15px;
                border: none;
                background-color: black;
                color: white;

                &:hover {
                    background-color: gray;
                    cursor: pointer;
                }
            }
            .upload-form{
                border:none;
                background-color: white;
                height:auto;
                width: auto;
                margin:0;
                padding:0;
            }
        }
    }

    .board {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .title {
            display: none;
        }
        .img-wrapper {
            display: flex;
            flex-direction: column;
            margin:10px;
            width:300px;
            position:relative;
            

            img {
                width: 300px;
                height:200px;
                object-fit: cover;
                border-radius: 20px;

                &:hover {
                    cursor: pointer;
                    filter: brightness(50%);
                }

                &:hover + .highlightName {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &:hover + .edit-btns {
                    visibility: visible;
                }

            }

            .highlightName{
                position: absolute;
                text-align:center;
                top:50%;
                left:50%;
                transform: translate(-50%, -50%);
                color:white;
                display: none;
                
                &:hover {
                    display: flex;
                }

    
            }

            .edit-btns{
                display: flex;
                flex-direction: column;
                justify-content: end;
                align-items: end;
                position: absolute;
                right: 5%;
                bottom: 65%;
                visibility: visible;

                button{
                    border-radius: 50%;
                    background-color:white;
                    width: 30px;
                    height: 30px;
                    margin: 1px;
                }

            }

            

        }
    }
    

    /* .freeze-panel{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
 */
        /* .title {
            display: none;
        }

        .trip {
            display: flex;
            flex-direction: column;
            padding: 10px;
            position: relative;

            img {
                width: 300px;
                height: 200px;
                object-fit: cover;
                border-radius: 20px;

                &:hover {
                    cursor: pointer;
                    filter: brightness(50%);
                }

                &:hover + .highlightName {
                    display: flex;
                }

                &:hover + .edit-btns {
                    visibility: visible;
                }
            }

            h2 {
                font-size: 1.5rem;
                margin: 10px 0;
            }
            h4 {
                color: rgba(55, 55, 55, 0.5);
            }

            .edit-btns {
                display: flex;
                flex-direction: column;
                justify-content: end;
                align-items: end;
                position: absolute;
                right: 5%;
                bottom: 65%;
                visibility: visible;

                button {
                    border-radius: 50%;
                    background-color: white;
                    width: 30px;
                    height: 30px;
                    margin: 1px;
                    /* border: none; 
                }
            } 

             .highlightName {
                position: absolute;
                top: 47%;
                left: 40%;
                color: white;
                display: none;
            } */
        
    
}
