body {
    position: relative;

        .header-container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .profile {
            position: relative;

            .img_image {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                object-fit: cover;
                margin: 30px 0;
            }

            .img_overlay {
                position: absolute;
                top: 30px;
                left: 0;
                height: 200px;
                width: 100%;
                border-radius: 100px;
                background: rgba(0, 0, 0, 0.5);
                color: #ffffff;
                font-family: 'Roboto';
                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                opacity: 0;
                transition: opacity 0.25s;

                & > * {
                    transform: translateY(20px);
                    transition: transform 0.25s;
                }

                &:hover {
                    opacity: 1;
                    cursor: pointer;
                }

                &:hover > * {
                    transform: translateY(0);
                }

                .img_title {
                    font-size: 1.5em;
                    font-weight: bold;
                }
    
                .img__description {
                    font-size: 1.25em;
                    margin-top: 0.25em;               
                }
            }
            
        }
    } 

    .board {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .title {
            display: none;
        }

        .img-wrapper {
            display: flex;
            flex-direction: column;
            margin: 10px;
            width: 300px;
            position: relative;

            img {
                width: 300px;
                height: 200px;
                object-fit: cover;
                border-radius: 20px;

                &:hover {
                    cursor: pointer;
                    filter: brightness(50%);
                }

                &:hover + .highlightName {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &:hover + .edit-btns {
                    visibility: visible;
                }
            }

            .highlightName {
                position: absolute;
                text-align: center;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                display: none;

                &:hover {
                    display: flex;
                }
            }

            .edit-btns {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;
                position: absolute;
                right: 6px;
                top: 6px;
                // right: 5%;
                // bottom: 65%;
                visibility: visible;

                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    background-color: white;
                    width: 30px;
                    height: 30px;
                    margin-top: 2px;
                }
            }
        }
    }
}
