body {
    .form-container {
        display: none;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        height: 100vh;
        width: 100vw;
        padding: 40px;
        background-color: rgba(0, 0, 0, 0.75);

        form {
            display: flex;
            flex-direction: column;
            position: relative;
            height: 500px;
            width: 650px;
            margin: 0 auto;
            border: 1px solid black;
            background-color: white;
            border-radius: 50px;
            padding: 50px;

            h1 {
                align-self: center;
            }

            .inputs {
                .form-element {
                    margin: 10px 0;

                    input {
                        width: 100%;
                        height: 50px;
                        border-radius: 10px;
                        margin: 10px 0;
                        padding: 10px;
                        font-size: 1.2rem;
                    }
                }
            }

            button {
                align-self: center;
                height: 50px;
                width: 200px;
                font-size: 1.5rem;
                border-radius: 15px;
                border: none;
                background-color: black;
                color: white;

                &:hover {
                    background-color: gray;
                    cursor: pointer;
                }
            }
        }
    }
}
