body {
    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        height: 100vh;
        width: 100vw;
        padding: 40px;
        background-color: rgba(0, 0, 0, 0.75);


        form {
            display: flex;
            flex-direction: column;
            position: relative;
            height: 500px;
            width: 650px;
            margin: 0 auto;
            border: 1px solid black;
            background-color: white;
            border-radius: 50px;
            padding: 50px;

            h1 {
                align-self: center;
            }

            .inputs {
                .form-element {
                    margin: 10px 0;

                    input {
                        width: 100%;
                        height: 50px;
                        border-radius: 10px;
                        margin: 10px 0;
                        padding: 10px;
                        font-size: 1.2rem;
                    }

                    textarea {
                        border-style:solid;
                        width: 100%;
                        height: 150px;
                        border-radius: 10px;
                        margin: 0;
                        padding: 0;
                        font-size: 1.2rem;
                        &:focus{ border: 1px solid black; }
                    }

                    .highlight{
                        margin: 0px;
                        padding: 0px;
                    }

                }

               
            }

            button {
                align-self: center;
                height: 50px;
                width: 200px;
                font-size: 1.5rem;
                border-radius: 15px;
                border: none;
                background-color: black;
                color: white;

                &:hover {
                    background-color: gray;
                    cursor: pointer;
                }
            }
        }

        #highlight-form{
            padding: 30px;
        }

        /* .upload-form{
            border:none;
            background-color: transparent;
            height:auto;
            width: auto;
            margin:0;
            padding:0;
            position:absolute;
            bottom: 200px;
            left:210px;

        } */

        /* button {
            align-self: center;
            height: 50px;
            width: 200px;
            font-size: 1.5rem;
            border-radius: 15px;
            border: none;
            background-color: black;
            color: white;
            position: absolute;
            left:400px;
            bottom: 130px;
            margin:0;

            &:hover {
                background-color: gray;
                cursor: pointer;
            }
        } */
    }
}
