body {
    .box {
        display: flex;
    }
    .highlight-img {
        display: grid;
        background-color: gray;
    }
    img {
        border: 0;
        height:  auto;
        max-width: 100%;
        vertical-align: middle;
    }
    .description-box {
        display: grid;
        justify-content: flex-start;
        background-color: wheat
    }
    h2 {
        font-size: 1.5rem;
        margin: 10px 0;
    }
    h4 {
        color: gray;
    }
}