body {
    .box {
        display: flex;
        border: 2px solid white;
        border-radius: 25px;
        width: 1400px;
        height: 800px;
        margin-top: 20px;
        margin-left: 250px;
        box-shadow: 10px 10px 20px 20px #D3D3D3;
        
    }
    .highlight-img {
        display: block;
        box-sizing: border-box;
        margin: 50px;
        border: 2px solid black;
        border-radius: 25px;
        background-color: whitesmoke;
        
    }
    img {
        border: 0;
        height:  auto;
        max-width: 100%;
        vertical-align: middle;
    }
    .description-box {
        display: block;
        box-sizing: border-box;
        margin: 50px;
        justify-content: flex-start;
        border: 2px solid black;
        border-radius: 25px;
        background-color: whitesmoke;
    }
    h1 {
        margin-top: 10px;
    }
    h2 {
        font-size: 1.5rem;
        margin: 10px 0;
    }
    h4 {
        margin-top: 10px;
        color: gray;
    }
    .btn {
        width: 50%;
        height: 50px;
        border-radius: 30px;
        border: none;
        font-size: 1.25rem;
        background-color: black;
        color: white;
        margin-right: 20px;
        margin-top: 725px;

        &:hover {
            cursor: pointer;
            background-color: lighten(black, 20%);
        }
    }
}